@import '../../style/var.scss';

.wyy-music-sheet {
  padding: $spacing * 20;
  flex-grow: 1;

  &-header {
    display: flex;
  }

  &-cover {
    width: 184px;
    height: 184px;
    object-fit: cover;
    border-radius: $border-radius;
    margin-right: $spacing * 12;
  }

  &-desc {
    flex-grow: 1;
    border-radius: $border-radius;

    div {
      margin: $spacing * 2 0;
    }
    
    &-1 {
      display: flex;
      align-items: center;

      span:nth-of-type(1) {
        font-size: $font-size-2;
        border: 1px solid red;
        color: red;
        padding: 0 $spacing * 2;
        border-radius: $border-radius;
      }

      span:nth-of-type(2) {
        font-size: $font-size-5;
        font-weight: bold;
        margin: 0 $spacing * 6 $spacing * 1.5;
        color: $title-light-color;
      }

      span:nth-of-type(3) {
        font-size: $font-size-4;
        color: $secondary-text-light-color;
      }
    }

    &-2 {
      display: flex;
      align-items: center;

      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
        border-radius: 50%;
      }

      span {
        font-size: $font-size-2;
        color: $secondary-text-light-color;
      }

      span:first-of-type {
        color: red;
        margin: 0 $spacing * 6;
      }
    }

    &-3 {
      display: flex;

      .wyy-music-sheet-playall {
        background-color: red;
        color: white;
        border-color: red !important;
      }
    }

    &-4 {
      font-size: $font-size-2;
      color: $primary-text-light-color;
    }
  }

  &-btn {
    padding: $spacing $spacing * 6 $spacing * 3;
    border-radius: 32px;
    border: 1px solid $border-light-color;
    margin-right: $spacing * 12;
    box-sizing: content-box;

    span {
      font-size: $font-size-2;
    }
    span:first-of-type {
      font-size: 15px;
      margin-right: $spacing * 2;
    }
  }

  &-content {
    margin-top: $spacing * 16;

    &-nav {
      margin-bottom: $spacing * 8;
      span {
        font-size: 15px;
        margin-right: $spacing * 8;
        padding-bottom: $spacing * 2;
        cursor: pointer;
      }

      &-active {
        font-weight: bold;
        border-bottom: 2px solid red;
      }
    }
  }

  &-list {
    &-header,
    &-body {
      display: flex;
      font-size: $font-size-2;

      div {
        height: 32px;
        line-height: 32px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $spacing * 12;
        color: rgba($primary-text-light-color, 0.55);
      }

      div:nth-of-type(1) {
        width: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span:nth-of-type(2),
        span:nth-of-type(3) {
          font-size: $font-size-3;
        }
      }
      div:nth-of-type(2) {
        flex-grow: 1;
        span:first-of-type {
          color: $title-light-color;
        }
      }
      div:nth-of-type(3) {
        width: 264px;
      }
      div:nth-of-type(4) {
        width: 296px;
      }
      div:nth-of-type(5) {
        width: 64px;
      }
    }
  }
}